# --- Python & Entornos ---
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales y variables sensibles
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebooks
.ipynb_checkpoints

# --- Logs / Cachés / Tests ---
*.log
.cache/
.mypy_cache/
.dmypy.json
.pytest_cache/
.hypothesis/
coverage.xml
nosetests.xml
htmlcov/
.tox/
.nox/

# --- Distribución / Packaging ---
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
share/python-wheels/
*.egg-info/
MANIFEST

# --- Documentación / Sphinx ---
docs/_build/

# --- Editores ---
# PyCharm / JetBrains
#.idea/

# VSCode / Cursor
.cursorignore
.cursorindexingignore

# Spyder / Rope
.spyderproject
.spyproject
.ropeproject

# --- Spark Metastore local ---
spark-warehouse/
metastore_db/
derby.log

# --- Archivos específicos del proyecto ---
# Si usás carpetas locales para staging, data lake u otros datos crudos, ignoralas aquí:
# data/
# datalake/

# --- Archivos temporales ---
*.spec
*.manifest
pip-log.txt
pip-delete-this-directory.txt

# --- PyInstaller ---
# Generalmente generados automáticamente
*.manifest
*.spec

# --- PyPI config ---
.pypirc