# ==========================================================
# ETL_Cassandra_Astra - .gitignore
# ==========================================================

# --- Python cache ---
__pycache__/
*.py[cod]
*$py.class
*.so

# --- Virtual environments & credentials ---
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# --- Jupyter notebooks ---
.ipynb_checkpoints/

# --- Logs & temporary files ---
*.log
logs/
.cache/
*.tmp

# --- Spark local metastore ---
spark-warehouse/
metastore_db/
derby.log

# --- Data folders that should not upload actual files ---
data/*
!data/.gitkeep

# --- Editors & IDEs ---
.idea/
.vscode/
.cursorignore
.cursorindexingignore
.spyderproject
.spyproject
.ropeproject

# --- PyPI configuration ---
.pypirc